!toryblue = #0727b0
!grey = #999

body
  background: #fff
  color = !toryblue
  font: 1.2em "Times New Roman", times, serif
  margin: 25px
  padding: 0
  text-align: center
  
a
  color: #000
  text-decoration: none
  &:hover
    text-decoration: underline
  
fieldset
  border: none
  padding: 0
  margin: 0
  
ul
  list-style: none
  margin: 0
  padding: 0
  
li
  &:nth-last-of-type(4)
    opacity: 0.6
  
  &:nth-last-of-type(3)
    opacity: 0.5
  
  &:nth-last-of-type(2)
    opacity: 0.3
  
  &:last-child
    opacity: 0.1
  
#container
  margin: 0 auto
  width: 800px
  
#copyright
  color = !grey
  font-size: 0.8em
  a
    color = !grey
  
#result
  font-size: 300%
  font-weight: bold
  margin: 0
  
.field
  border: 1px solid #ccc
  color = !grey
  font: inherit
  padding: 5px
  
.field:focus, .field.focused
  color = !toryblue  