!toryblue = #0727b0

body
  background: #fff
  color = !toryblue
  font: 1.2em "Times New Roman", times, serif
  margin: 25px
  padding: 0
  text-align: center
  
a
  color: #000
  text-decoration: none
  
fieldset
  border: none
  padding: 0
  margin: 0
  
span
  font-size: 80%
  
ul
  list-style: none
  margin: 0
  padding: 0
  
li:nth-last-of-type(4)
  opacity: 0.6
  
li:nth-last-of-type(3)
  opacity: 0.5
  
li:nth-last-of-type(2)
  opacity: 0.3
  
li:last-child
  opacity: 0.1
  
#container
  margin: 0 auto
  width: 800px
  
#result
  font-size: 300%
  font-weight: bold
  margin: 0
  
.field
  border: 1px solid #ccc
  color: #999
  font: inherit
  padding: 5px
  
.field:focus, .field.focused
  color = !toryblue  